{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <h3 class="fixed-title">Some Articles on the Importance of Drinking Water</h3>
    <ul class="fixed-list">
        <li><a href="https://www.cdc.gov/healthywater/drinking/nutrition/index.html/" target="blank">CDC: Water & Nutrition</a></li>
        <li><a href="http://www.nhs.uk/Livewell/Goodfood/Pages/water-drinks.aspx" target="blank">NHS: Water, Drinks and Your Health</a></li>
        <li><a href="http://www.nhs.uk/news/2015/04April/Pages/Why-you-should-drink-water-before-you-drive.aspx" target="blank">NHS: Why You Should Drink (Water) Before You Drive</a></li>
        <li><a href="https://www.nuh.nhs.uk/media/1834542/good_hydration.pdf" target="blank">NUH/NHS: Why Hydration Is Important for Your Health</a></li>
        <li><a href="https://www.bda.uk.com/foodfacts/fluid.pdf" target="blank">BDA: Food Fact Sheet - Fluid</a></li>
    </ul>
    
{% endblock %}